@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    max-width: 1000px;
    margin: auto;
}

.login-form,
.registration-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

input[type='text'],
input[type='password'],
button,
textarea {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    padding: 0.25rem;
    border-radius: 0.5rem;
}

label {
    margin-top: 1rem;
}

.form-submit-button {
    margin-top: 1rem;
}

button {
    padding: 0.5rem;
    cursor: pointer;
}

.instructions {
    /* font-size: 0.75rem; */
    border-radius: 0.5rem;
    /* background: #000;
    color: #fff; */
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
    color: rgb(103, 0, 0);
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.form-section {
    padding: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    min-width: 500px;
}

.header-links {
    display: flex;
    max-width: 1000px;
    margin: auto;
    list-style: none;
    margin: 20px 0px 20px;
    align-items: center;
}

.header-links__exit {
    text-decoration: none;
}

.header-links__home {
    text-decoration: none;
}

.header-links__my-requests {
    text-decoration: none;
    padding: 20px;
}

.header-links__placeholder {
    flex: 1;
}

.request-item {
    margin-top: 0.5rem;
}

.requests {
    margin-top: 2rem;
}
